<aside class="sidebar">
    <div class="sidebar-content">
        <a href="{{ '/' | relative_url }}" class="sidebar-name">Grayson Earle</a>
        <p class="sidebar-intro">creative technologist and
            systems architect building
            large-scale installations at the
            intersection of custom software,
            hardware, and immersive media</p>
        <nav class="sidebar-nav">
            <a href="mailto:studio@graysonearle.com">studio@graysonearle.com</a>
        </nav>
        <p class="sidebar-copyright">&copy; {{ site.time | date: '%Y' }}</p>
    </div>
</aside>