<aside class="sidebar">
    <div class="sidebar-content">
        <p class="sidebar-name">Grayson Earle</p>
        <p class="sidebar-intro">creative technologist,
            artist, and educator
            working at the intersection
            of software, hardware,
            and social practice</p>
        <nav class="sidebar-nav">
            <a href="mailto:studio@graysonearle.com">studio@graysonearle.com</a>
        </nav>
        <p class="sidebar-copyright">&copy; {{ site.time | date: '%Y' }}</p>
    </div>
</aside>