<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <meta name="description" content="Selected Works in digital fabrication, creative coding, and physical computing">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/computer.png' | relative_url }}">
</head>

<body>
    <div class="layout">
        {{ content }}
        {% include sidebar.html %}
    </div>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>

</html>